

#Quiss {
    border: 1px solid;
    width: 60%;
    margin: 0 auto;
    padding-top: 10%;
    background: rgb(205, 219, 219);

}
.main {
    text-align: center;
}
.main p {
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
    background: antiquewhite;
    width: 70%;
    /* margin: 0 auto; */
    margin-left: 204px;
    padding: 15px;
    border-radius: 10px;
}
.main h5 {
    width: 52%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.main form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* margin-bottom: 60px; */
    width: 60%;
    margin: 0 auto;
    border: 1px solid #000;
    padding-top: 35px;
   
}
.main form input {
    margin-bottom: 50px;
    margin-left: 142px;
    
    

}
.main form label {
    margin-left: 34px;
    color: aliceblue;
    padding: 10px 10px;
    background: rgb(121, 180, 228);
    margin-bottom: 40px;
    border: 1px solid #000;
}
button {
    padding: 10px 50px;
    font-size: 15px;
    font-weight: bold;
    background: darkgoldenrod;
    margin-bottom: 40px;
}
