#main {
    background-color: aqua;
    height: 100vh;
    position: relative;

}

#header { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    
}

.wrapper {
    width: 90%;
}

section#header div { 
    
}

section#header div h1 { 
    font-size: 60px;
    color: rgb(248, 212, 7);
}

section#header div h1 img { 
    width: 50%;
    display: block;
    margin-left: 50px;
}

section#header div.right { 
    margin-left: 75%;
}

section#header div.right a { 
    background: #000;
    padding: 16px 43px;
    color: blue;
    border-radius: 10px;
    text-decoration: none;

}

.videoTag{
    width: 100%;
    /* height: 100vh; */
    
}
#center {

}
.starts {
    text-align: center;
    padding-top: 20%;
    position: absolute;
    top: 139px;
    right: 847px;

}
.starts a {
    background: blueviolet;
    padding: 22px 82px;
    font-size: 31px;
    border-radius: 45px;
    text-decoration: none;
    color: aqua;
}
h1 {
    font-size: 65px;
    font-weight: bold;
    color: rgba(248, 41, 4, 0.993);
    margin-left: 50px;
}


/* @import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600")
    .more-pens position: fixed left: 20px bottom: 20px z-index: 10 font-family:
    "Montserrat" font-size: 12px a.white-mode,
  a.white-mode: link, a.white-mode: visited,
  a.white-mode: active font-family: "Montserrat" font-size: 12px text-decoration:
    none background: #212121 padding: 4px 8px color: #f7f7f7 &: hover background:
    #edf3f8 color: #212121 body margin: 0 padding: 0 overflow: hidden
    .background position: absolute left: 0 top: 0 width: 100% height: 100%
    background: #edf3f8 background: -moz-radial-gradient(
      center,
      ellipse cover,
      #edf3f8 1%,
      #dee3e8 100%
    ) background: -webkit-radial-gradient(
      center,
      ellipse cover,
      #edf3f8 1%,
      #dee3e8 100%
    )
    background: radial-gradient(ellipse at center, #edf3f8 1%, #dee3e8 100%)
    filter: progid:
    DXImageTransform.Microsoft.gradient(
      startColorstr= "#edf3f8",
      endColorstr= "#dee3e8",
      GradientType=1
    )
    .title z-index: 10 position: absolute left: 50% top: 40% transform:
    translateX(-50%) translateY(-50%) font-family: "Montserrat" text-align:
    center width: 60% h1 position: relative color: #000000 font-weight: 300
    font-size: 46px padding: 0 margin: 0 line-height: 1 h2 font-weight: 600
    font-size: 60px padding: 0 margin: 0 line-height: 1 h3 font-weight: 200
    font-size: 20px padding: 0 margin: 0 line-height: 2 color: #5e7283
    letter-spacing: 2px p font-weight: 200 font-size: 16px color: #5e7283
    .pentahedron position: absolute width: 100% height: 100% fill: #3e82f7
    .point fill: #8491a3 .rhombus fill: #2da94f stroke: #2da94f .x fill: #fdbd00
    .circle fill: #ed412d svg display: block width: 30px height: 30px position:
    absolute transform: translateZ(0px); */
